.footer {
    background-color: #35393b;
    background-size: cover;
    color: white;
    text-align: center;
    width: auto;
    height: 200px;
    color: lightgray;
}
.footer div {
    margin: 10px;
    text-align: center;
}
.footer a {
    color: lightgray;
}
a:hover {
    color: rgb(148, 255, 219);
}

.contact-info {
    font-family: "Nanum Gothic";
    margin: 100px;
    padding-top: 10px;
    padding-right: 20px;
}
