@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap");
body {
    font-family: "Noto Serif KR", serif;
}
.projects {
    margin: 10vh 0;
}
.container {
    margin: auto;
    width: 70vw;
}
h1 {
    font-family: "Nanum Myeongjo", serif;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .container {
        width: 90vw;
    }
}
